{% extends "SHOP/commen.html" %}
{% load static %}
{% block content %}

<div class="page-section contact-page">
    <div class="contact-warp">
        <h2>Edit Product</h2>

        <div style="background:white; padding:20px; border-radius:8px; border:1px solid #ddd; width:60%; margin:auto;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label>Product Name</label>
                <input type="text" name="name" class="form-control" value="{{ product.name }}" required>

                <label>Category</label>
                <input type="text" name="category" class="form-control" value="{{ product.category }}" required>

                <label>Price</label>
                <input type="number" name="price" class="form-control" value="{{ product.price }}" required>

                <label>Quantity</label>
                <input type="number" name="qty" class="form-control" value="{{ product.qty }}" required>

                <label>Description</label>
                <textarea name="desc" class="form-control" required>{{ product.desc }}</textarea>

                <label>Product Image (Leave blank to keep current)</label>
                <input type="file" name="image" class="form-control">

                <label class="mt-2">Status</label>
                <select name="status" class="form-control">
                    <option value="Available" {% if product.status == 'Available' %}selected{% endif %}>Available</option>
                    <option value="Unavailable" {% if product.status == 'Unavailable' %}selected{% endif %}>Unavailable
                    </option>
                </select>

                <button type="submit"
                    style="margin-top:20px; padding:12px 30px; background:#4b49ac; color:white; border-radius:5px; border:none; width:100%;">
                    Update Product
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
